<div class="ms-footer"> 
 <div class="body"> 
  <span class="copyright"> <el-link href="javascript:;" type="primary" target="_blank">{ms:global.copyright/}</el-link></span>
  <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
 </div>
 <script type="text/javascript" src="{ms:global.host/}/static/plugins/app1.0/js/move-top.js"></script>
 <script type="text/javascript" src="{ms:global.host/}/static/plugins/app1.0/js/easing.js"></script>
 <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

 <script type="text/javascript">
  jQuery(document).ready(function($) {
   $(".scroll").click(function(event){
    event.preventDefault();
    $("html,body").animate({scrollTop:0},500);
   });
  });
 </script>
 <script type="text/javascript">
  $(document).ready(function() {
   $().UItoTop({ easingType: 'easeOutQuart' });

  });
 </script>
</div>