<div id="lab_head">
    <div class="wrapper-top">
        <div class="poster-content-box">
            <div class="pc_poster-content-box">
                <h1 class="left-sandbox">新技术实验室</h1>
                <p class="sandbox-poster-text">
                    全新技术上线 让用户眼前一亮
                </p>
                <div class="sandbox-btn-group">
                    <!--<a class="sandbox-btn" href="testList.html">全部实验列表</a>-->
                    <!-- <a class="action" target="_blank"></a> -->
                    <!--<a class="action" target="_blank" data-url="https://edu.huaweicloud.com/activity/10minslabs.html" href="https://edu.huaweicloud.com/activity/10minslabs.html" style="display: inline-block;">10分钟轻松体验云服务</a></div>-->
                    <div class="sandbox-test">
                        <ul>
                            <li data-title="Flutter实现3D动画"><a href="{ms:global.host/}/html/web/gywm/flutter/index.html">
                                <div class="sandbox-test-img">
                                    <div class="bgimg bgimg00"
                                         style="background-image:url({ms:global.host/}/upload/1/cms/content/1613808802382.png);cursor: pointer"></div>
                                    <div class="img-shadow"></div>
                                </div>
                            </a><a href="javascript:;"><span class="sandbox-test-title">Flutter实现3D动画</span></a>
                            </li>
                            <li data-title="uni-app实现购物平台"><a href="{ms:global.host/}/html/web/gywm/uniapp/index.html">
                                <div class="sandbox-test-img">
                                    <div class="bgimg bgimg01"
                                         style="background-image:url({ms:global.host/}/upload/1/cms/content/1613808802381.png);cursor: pointer"></div>
                                    <div class="img-shadow"></div>
                                </div>
                            </a><a href="javascript:;"><span class="sandbox-test-title">uni-app实现购物平台</span></a>
                            </li>
                            <li data-title="Vue特效展示"><a href="{ms:global.host/}/html/web/gywm/vue/index.html">
                                <div class="sandbox-test-img">
                                    <div class="bgimg bgimg02"
                                         style="background-image:url({ms:global.host/}/upload/1/cms/content/1613808802380.png);cursor: pointer"></div>
                                    <div class="img-shadow"></div>
                                </div>
                            </a><a href="javascript:;"><span class="sandbox-test-title">Vue特效展示</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="sandbox-video pc_sandbox-video">
                        <div class="video-con">
                            <img id="movie" src="{ms:global.host/}/upload/1/cms/content/1613808802400.png" alt="">
                            <!--<div id="cover">
                                <div class="video-btn"><img src="img/sanjiaoright.png"></div>
                            </div>-->
                        </div>
                        <div class="right-text">
                            <h3 class="right-text-title">新技术实验室是什么</h3>
                            <p class="right-text-desc">
                                新技术实验室是公司核心技术成果展示平台，可随时随地进入实验室演示自研技术炫酷成果。</p>
                            <a class="guide"
                               data-url="#"
                               href="javascript:;">效果展示 ↓↓↓</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>