<#assign ids=field.parentids>
<#assign typeid=field.typeid>
<div class="ms-nav header">
    <div class="body">
        <div class="logo">
            <a href="{ms:global.host/}" style="cursor: pointer;"><img title="" alt=""
                                                                      src="{ms:global.host/}/{@ms:file global.logo/}"
                                                                      class="logo-pic"></a>
        </div>
        <div class="nav-div">

            <ul class="nav-ul">
                {ms:channel flag='nav' type='top' orderby="sort"}
                <li class="item-li">
                    <a href="<#if field.type==3>{ms:global.url/}${field.typeurl}<#else>{ms:global.url/}${field.typelink}</#if>"
                       class="item<#if typeid==field.typeid || (ids?has_content && ids?index_of('${field.typeid}') gt -1)> li-selected</#if>">
                        ${field.typetitle}
                    </a>
                </li>
                {/ms:channel}
                <li class="item-li">
                    <a href="http://www.roboct.com/" class="item" target="_blank"> 合作伙伴 </a>
                </li>
            </ul>
        </div>
        <div class="nav-search">
        </div>
    </div>
</div>