@media ( max-width :767px) {
	.hot-list>div {
		width: 50%
	}
}

.index-case {
	padding: 50px 0
}

.index-case .index-case-clasee {
	height: 120px
}

.index-case
.carousel-indicators {
	width: 50%;
	margin-left: -25%;
	height: 20px;
	top: 0;
	background-color: #F6FCFF;
	border-radius: 20px
}

.index-case
.carousel-indicators li {
	margin: -15px 35px 0 35px;
	width: 50px;
	height: 50px;
	background-color: #F6FCFF;
	border: 0;
	border-radius: 50%;
	text-indent: 0;
	text-align: center;
	line-height: 50px
}

.index-case .carousel-indicators li
.iconfont {
	color: #1c88c8;
	line-height: 55px;
	font-size: 30px;
	width: 30px;
	height: 30px;
	overflow: hidden
}

.index-case .carousel-indicators li p {
	line-height: 30px;
	font-size: 16px;
	color: #1c88c8
}

.index-case .carousel-indicators
.active {
	background-color: #4cbcff;
	box-shadow: 2px 1px 0 0 #1c88c8
}

.index-case .carousel-indicators .active .iconfont {
	color: #fff
}

.index-case-a {
	float: left;
	width: 240px;
	padding: 0 15px 10px 15px
}

.index-case-a
div {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	overflow: hidden;
	transition: box-shadow .5s
}

.index-case-a div img {
	width: 100%;
	height: 100%
}

.index-case-a div
span {
	opacity: 0;
	position: absolute;
	top: 15px;
	left: -100%;
	float: left;
	line-height: 35px;
	background-color: #EDF9FF;
	box-shadow: 2px 1px 0 0 #95C4DB;
	padding: 0 15px;
	border-radius: 0 20px 20px 0;
	font-size: 16px;
	color: #1c88c8;
	transition: left .5s
}

.index-case-a-bg {
	opacity: 0;
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	transition: opacity .5s
}

.index-case-a div:hover {
	box-shadow: 5px 0 0 0 #a4d7e9;
	transition: box-shadow .5s
}

.index-case-a div:hover .index-case-a-bg {
	opacity: 1;
	transition: opacity .5s
}

.index-case-a div:hover span {
	opacity: 1;
	left: 0;
	transition: left .5s
}